{{> header}}

<body>

{{> menu }}


<main role="main">

    <div class="jumbotron" id="titulo">
        <div class="container ">
            <h1 class="display-7">Local da Planilha de contatos</h1>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">

            <div class="col-md-6">
                <h2>Sobre a Planilha de contatos</h2>
                <p>As planilhas de contados são fontes de dados que contém detalhes sobre os contatos utilizados para o
                    envio de e-mail para cada autoridade. </p>
                <p>Cada planilha tem um ou mais conjuntos de dados, você pode copiar a planilha vazia.xlsx e montar a
                    sua própria.</p>
            </div>

            <div class="col-md-6">
                <h2>Quando que ela foi atualizada ?</h2>
                <p>Toda vez que esse aplicativo é executado, ele tenta baixar novas planilhas, você também pode forçar
                    uma atualização usando o menu. </p>
            </div>

            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Local</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Tamanho</th>
                        <th scope="col">Data Atualização</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#planilhas}}
                    <tr>
                        <td>{{local}}</td>
                        <td>{{nome}}</td>
                        <td>{{tamanho}} {{unidade}}</td>
                        <td>{{dataAtualizacao}}</td>
                    </tr>
                    {{/planilhas}}
                    </tbody>
                </table>
            </div>

        </div>

        <hr>

    </div> <!-- /container -->

</main>

{{> tail }}

<script>
    CKEDITOR.replace('conteudo');
</script>

</body>

</html>